* {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: column;
}

.skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
}

a.skill {
    flex: 1;
}

.skill-title {
    flex: 1;
}

.place {
    margin-left: 16px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #fffde7;
}

.readable-area {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 15%;
}

img {
    width: 128px;
    height: 128px;
    border: 4px solid #000000;
    border-radius: 100%;
}

h1 {
    font-family: "Peralta";
}

.job-title {
    font-family: "Open Sans";
    font-weight: 500;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 16px;
    justify-content: end;
    align-items: center;
    border-bottom: 2px solid #000000;
}

.header-text {
    text-align: end;
    margin-right: 16px;
}

.content {
    display: flex;
    flex-direction: row;
}

.gauge {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
}

.bullet {
    border-radius: 100%;
    width: 16px;
    height: 16px;
    margin: 4px;
    background-color: #fff59d;
}

.filled-bullet {
    background-color: #fbc02d;
}

.content-column {
    flex: 1;
    padding: 0 16px 16px 16px;
    background-color: white;
}

.section-title {
    background-color: #ffeb3b;
    border-left: 4px solid #fbc02d;
    padding: 8px 16px;
    text-transform: UPPERCASE;
    font-weight: 500;
    margin: 16px 0;
}

.title-icon {
    margin-right: 8px;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column-reverse;
    }

    .header-text {
        text-align: center;
    }

    .content {
        flex-direction: column;
    }

    h1 {
        font-size: 1.5em;
    }
}